<main>
    <section>
        <app-header [description]="'Help'" [isTop]="true"></app-header>
        <div class="Section__content">

            <h4>Send us your query by completing the Contact form please</h4><br>

            <h2>How to complete the contact form?</h2>

            <p>In order to contact us you must complete the form matching your requirement. 
            It is mandatory that you complete all the fields in order to provide you a better
            service. An agent will respond as soon as possible.
            </p>
            <ul>
                <li><strong>General Inquiries</strong></li>
                <li><strong>Shipping</strong></li>
            	<li><strong>Purchases Inquiries</strong></li>
            	<li><strong>Claims</strong></li>
            	<li><strong>Join as a Seller</strong></li>
            	<li><strong>Franchises </strong> (Open a store)</li> 
            </ul>	

            <h4>General Inquiries</h4>
            <p>If you have questions about extended warranty, billing, being part of our team,
             or registering on our website you can go to the form about general inquiries by 
             clicking on this <a routerLink="/contacto">link.</a>
            </p>

            <h4>Shipments</h4>
            <p>To inquire about how to cancel a shipment, change the delivery date,
            authorize a third party to receive my shipment or know why I did not receive my
            shipment click on this <a routerLink="/contacto">link.</a>
            </p>

            <h4>Purchases Inquiries</h4>
            <p>Do you have any questions about how to cancel a purchase,
            make a corporate purchase, change a product or learn more about a product?
            Click <a routerLink="/contacto">here</a> and complete the form.
            </p>

            <h4>Claims</h4>
            <p>We are sorry that you have to make a claim. If you have claims about a credit 
            note you didn't receive, a product that arrived damaged or missing, or that you  
            didn't receive your bill. Fill out this <a routerLink="/contacto">form</a> and we 
            will respond as soon as possible.
            </p>

            <h4>Join as a Seller</h4>
            <p>It will be a pleasure for us that our products can be distributed by you! Click
            <a routerLink="/contacto">here</a> to get in touch with us.
            </p>

            <h4>Franchises</h4>
            <p>It is very pleasant for us that you want to be part of our brand and open your store.
            Fill out this <a routerLink="/contacto">form</a> and we will get in touch as soon as
            possible.
            </p>
            <p>We hope you have found this article useful.</p>
            <p>Do you have more questions? <a routerLink="/contacto">Submit a request</a></p>



        </div>
    </section>
</main> 