<main class="forms">

  <form class="contenedor">

    <div class="mensajebienvenida">
      <h2>¡Hola!</h2>
      <h4>Inicia sesión o <a routerLink="/registro">crea una cuenta</a></h4>
    </div>
    <br>

    <div class="form_grupo">
      <div class="formulario_registro">

        <div class="columna1">
          <label for="correoRegis" class="form-label">Correo *</label><br>
          <input type="email" class="form-control" id="correoRegis" value="" required><br>
        </div>

        <div class="columna2">
          <label for="contraseniaRegis" class="form-label">Contraseña *</label><br>
          <input type="password" class="form-control" id="contraseniaRegis" value="" required minlength="8"><br>
        </div>
      </div>
    </div>

    <button class="btn btn" type="submit" id="ingreso">Ingresar</button>

    <a href="https://www.greenbuddies.netlify.app/auth/facebook" class="btn btn-facebook">
      <span>Continuar con Facebook</span>
    </a>

    <a href="https://www.greenbuddies.netlify.app/auth/google" class="btn btn-google-plus">
      <span>Continuar con Google</span>
    </a><br>

    <p><a routerLink="/login">¿Olvidaste tu contraseña?</a></p>



  </form>


</main>