<main class="forms">

  <form class="contenedor">

    <div class="mensajebienvenida">
      <h2>Hello!</h2>
      <h4>Login or <a routerLink="/registro">create an account</a></h4>
    </div>
    <br>

    <div class="form_grupo">
      <div class="formulario_registro">

        <div class="columna1">
          <label for="correoRegis" class="form-label">Email *</label><br>
          <input type="email" class="form-control" id="correoRegis" value="" required><br>
        </div>

        <div class="columna2">
          <label for="contraseniaRegis" class="form-label">Password *</label><br>
          <input type="password" class="form-control" id="contraseniaRegis" value="" required minlength="8"><br>
        </div>
      </div>
    </div>

    <button class="btn btn" type="submit" id="ingreso">Enter</button>

    <a href="https://www.greenbuddies.netlify.app/auth/facebook" class="btn btn-facebook">
      <span>Sign in with Facebook</span>
    </a>

    <a href="https://www.greenbuddies.netlify.app/auth/google" class="btn btn-google-plus">
      <span>Sign in with Google</span>
    </a><br>

    <p><a routerLink="/login">Did you forget your password?</a></p>



  </form>


</main>