/*-----cssLogin---------------------*/

.forms {
  background-image: url("../../../assets/img/fondo_hojas1.jpg");
  background-size: cover;
  padding: 2rem;
  margin: 110px 0 auto;
 
  
}

.contenedor {
  height: 500px;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  background: var(--main-bg);
  padding: 10px;
  border: solid var(--gray-border) 2px;
  border-radius: .8rem;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}

.mensajebienvenida {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

label {
  text-align: left;
  color: rgb(7, 62, 7);
  font-size: 14px;
  font-weight: bolder;
}


input:focus {
  color: rgb(7, 62, 7);
}

.form_grupo{
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

/*formato inputs*/
.formulario_registro input{
  width: 95%; 
  max-width: 550px;
  height: 15px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: .5px solid var(--gray-border);
}




#ingreso {
  width: 85%; 
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--ligther-font-color);  
  font-size: medium;
  background-color: rgb(60, 155, 60);
  text-align: center;
  border-style: none;
  border: radius 10px;
  cursor: pointer;
}


#ingreso:hover {
  background-color: forestgreen;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
}

a {
  color: rgb(17, 17, 253);
}

h4 a:hover {
  font-weight: lighter;
  background-color: rgb(175, 227, 229);
}

/* Inicio con facebook y google */
.forms .btn {
  margin-top: 10px;
  padding: .8rem;
  width: 80%; 
  height: 15px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 10px;
  border-color: none;
}




.forms .btn-facebook {
  color: white;
  background-color: #3b5998;

}

.forms .btn-facebook:hover,
.forms .btn-facebook:focus {
  background: #30487B;
  color: #fff;

}

.forms .btn-google-plus {
  color: white;
  background-color: #dd4b39;
  
}

.forms .btn-google-plus:hover,
.forms .btn-google-plus:focus {
  background-color: #ca3523;
}

/*Modales*/
.modalRegistro {
  list-style: none;
}

.modalRegistro li {
  padding: .4rem 0;
}

@media screen and (min-width: 650px) {
  .forms {
    margin: 130px auto 0;
    padding: 140px auto 30px auto;
  }
}