<main>
    <app-header [description]="'¡Seguí tus compras!'" [isTop]="true"></app-header>
    <section role="section" class="container">
        <div class="row">
            <div class="col">

                <!--*ngFor="let micompra of miscompras-->

                <h4>Mis compras</h4>

                <div class="table table-responsive">
                    <table class="table table-striped table-bg-light">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Item</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>27-09-2022</td>
                                <td>Cepillo de dientes Meraki</td>
                                <td>2</td>
                                <td>440,00 ARS</td>
                                <td>completado</td>
                                <td><a routerLink="/carrito">Repetir pedido</a></td>
                            </tr>
                            <tr>
                                <td>11-10-2022</td>
                                <td>Hilo dental Orlando</td>
                                <td>1</td>
                                <td>470.00 ARS</td>
                                <td>cancelado</td>
                                <td><a routerLink="/carrito">Repetir pedido</a></td>
                            </tr>
                            <tr>
                                <td>03-11-2022</td>
                                <td>Afeitadora Ecológica Biodegradable</td>
                                <td>1</td>
                                <td>100,00 ARS</td>
                                <td>en espera</td>
                                <td><a routerLink="/carrito">Repetir pedido</a></td>
                            </tr>
                            <tr>
                                <td>--</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
</main>