<main>
    <app-header [description]="'¡Seguí tus compras!'" [isTop]="true"></app-header>
    <section role="section" class="container">
        <div class="row">
            <div class="col">

                <h2>Mis compras</h2>

                <div class="table table-responsive">
                    <table class="table table-bg-light">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Item</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>16-11-2022</td>
                                <td>Cepillo de dientes Meraki</td>
                                <td>1</td>
                                <td>$220</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Hilo dental Orlando</td>
                                <td>1</td>
                                <td>$470</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Afeitadora Ecológica Biodegradable</td>
                                <td>4</td>
                                <td>$400</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bold">$1090</td>
                                <td>En espera</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>