           <!-- SLIDER 1 --->
              
              <div id="carouselTop" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
                  
                   <!----controlador-->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!----controlador-->

                  <div class="carousel-inner">
                    <div class="carousel-item active h-20"  data-bs-interval="3500" >
                      <img src="assets/img/background_1.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="3500">
                        <img src="assets/img/background_2.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="3500">
                        <img src="assets/img/background_3.jpg" class="d-block w-100">
                    </div>
                    
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTop" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselTop" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">next</span>
                  </button>
      </div>
            <!--FIN SLIDER 1 -->

            
             <!-- SLIDER 2 -->

                <div id="carouselBottom" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">

                     <!----controlador-->
                     <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselBottom" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselBottom" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselBottom" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!----controlador-->

                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="3500">
                        <img src="assets/img/background_esponja.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="3500">
                        <img src="assets/img/background_hilo.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item"  data-bs-interval="3500">
                        <img src="assets/img/background_cepillo.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBottom" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselBottom" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">next</span>
                    </button>
                  </div>

        <!--FIN SLIDER 2 -->