<main>
    <section>
        <app-header [description]="'Legal'" [isTop]="true"></app-header>
        <div class="Section__content">
            <h1>Terms and Conditions</h1>

            <p>Welcome to the website www.greenbuddies.com (hereinafter the "Site" or "the platform")
                by Green Buddies. The terms and conditions described below (hereinafter the "Terms
                and Conditions of Use" or the "Conditions of Use") are intended to regulate the behavior of the
                users on the site and the business relationships arising from those behaviors. It is understood by "User"
                to any person who visits the site, even occasionally, regardless of whether the user has registered /
                identified through any of the mechanisms provided for this purpose.
                The Owner and Operator of the Site is Green Buddies S.A., CUIT#, with registered office at Av. Cardenosa 1600
                of Córdoba Capital, (Postal Code 5008) Argentine Republic. Based on what was stated above,
                hereby set the terms and conditions for the purpose of regulating the use by the User of the
                www.greenbuddies.com site and their respective rights and obligations.
            </p>
            <p>NATURE OF THE SERVICE AND DESTINATION OF THE SITE:
                The site is intended for the online purchase of technology products. You can use these services
                persons of legal age with the legal capacity to contract and who accept these Terms and
                Conditions of Use. It is presumed that holders or adherents to credit cards have this capacity. Nope
                People who do not have that capacity or minors may use the site. who registers
                as a User to a legal person, you must have the capacity to contract on behalf of such entity and
                bind it in the Terms of Use.
            </p> 
            <p>USE OF THE SERVICES:
                The User, whether registered or visiting, declares that the information that will be provided when submitting the request for
                registration will be precise, truthful, correct and current, being in turn entirely responsible before Green
                Buddies and/or third parties for the damages that the breach of said obligation could cause.
                Providing inaccurate or false information constitutes a serious violation of these Terms and Conditions of
                Use. The User accepts that he will use the Services exclusively for the purposes stipulated in (a) the
                Terms and Conditions of Use and (b) any applicable rule or regulation, whether municipal,
                provincial or national. These Terms and Conditions of Use apply to all sales of products
                and/or services to be performed by Green Buddies.
                Placing an order implies the express acceptance of the User of these Terms and Conditions
                of Use. By confirming his order at the end of the process of an operation, the User agrees to accept the articles
                acquired, pay its price and the conditions related to the acquisition that are stipulated therein, perfecting
                with Green Buddies a contract for the sale of personal property.
            </p> 
            <p>USER REGISTRATION AND LOGIN:
                By accepting the Terms and Conditions of Use, the User acknowledges and accepts that he is the only
                responsible for maintaining the confidentiality of your password. Consequently, the User accepts that he will be the
                solely responsible to Green Budies and/or third parties for each and every one of the activities carried out in its
                account on the Site. The User must immediately notify Green Buddies of any unauthorized use of their
                password or account of which you become aware, through the Site or by any other means. This notice must
                be made through the Site and, additionally, by sending a note to the address of Green Buddies,
                Specify in both cases and with the greatest possible detail all the information you have regarding
                unauthorized use of your password.
            </p> 
            <p>USER DATA:
                When registering as a User of this Site, the User's personal data is taken for the purpose of complying with
                the Green Buddies line of business, being able to carry out marketing and advertising actions. For the case that the
                User decides to provide their data, it is accepted that Green Buddies can use them for operational purposes of the
                electronic commerce system organized on the Site and/or on other websites belonging to Green Buddies
                and even to communicate to the User by different means offers of goods and services, announcements of promotions,
                advertising, the enumeration being merely exemplary.
                The Site has a strict privacy policy and protection of data generated by online activity
                of its users. Green Buddies S.A will not deliver any type of personal data or individualized information
                about any of its Users to any third party, whether free or onerous, including any data
                related to the identity of its users, habits, customs, areas of belonging, consumption habits, etc.
                By accepting the Terms and Conditions of Use by the User, the Privacy Policy is accepted.
                Privacy of the Site, whose content is published on it.
                The User, as the owner of the personal data, has the power to exercise the right of access to the
                free of charge with intervals of no less than six months, unless a legitimate interest is proven by
                effect in accordance with the provisions of article 14, paragraph 3 of Law No. 25,326. Green Buddies advise their clients
                to keep their data up to date, by contacting inquiries@greenbuddies.com or through the
                exercise of the right of access provided for by art. 14 of Law 25,326. Green Buddies does not request data from your
                customers by phone or via email, except for the cases stipulated in the
                point "Acceptance of Orders". If there is a contact, its purpose is to carry out a survey of
                satisfaction or communicate any promotion or special benefit.
                The National Directorate for the Protection of Personal Data, Control Body of Law No. 25,326, has the power
                to deal with complaints and claims that are filed in relation to non-compliance with the rules on protection
                of personal data, the User being able to learn more in depth about this subject at the following address:
                www.jus.gov.ar/dnpdp
            </p> 
            <p>IMAGES AND DESCRIPTIONS OF THE PRODUCTS:
                Green Buddies attempts to be as accurate as possible in its product descriptions. However, it is possible that
                product descriptions or other content on this Site may be inaccurate or contain errors. Images are
                for illustrative purposes only and do not have any contractual validity, they may change without prior notice.
                Without prejudice to the provisions of art. 34 of Law 24,240, in the event of an error between the image
                advertising of a product and the purchased product, the User will have the right to cancel the order up to 10 days
                corridos of which it had been delivered. In case of cancellation of the order once the product has been received, the User
                based on inaccuracies in the description or images of the product, the User must return the same in perfect
                condition, together with all its original packaging and all its accessories. Information about features of
                products, which are accessed through this Site are derived from statements made by the manufacturer of each
                product, taking into consideration that sometimes manufacturers can alter their packaging and labels,
                so the actual product packaging and accompanying materials may contain information different from the
                displayed on the Site.
            </p> 
            <p>PURCHASE - STOCK:
                Only registered Users may purchase products or services on the site. The User declares to know and accept
                that at the time of confirming the operation carried out by it, it will constitute a purchase and sale operation, applying to
                said contracting all the legal norms corresponding to it.
                Purchases made by the User are subject to availability of units (stock). The User declares to know
                and accept that the purchase will be perfected definitively in legal terms after it has been verified
                the effective availability of the product in the Green Buddies merchandise stock, so previously
                to said verification the sale is conditioned to the aforementioned fact and is understood not yet to be finalized.
                In case there is no available stock, the operation will be without effect without the right to claim any of the parties.
                interveners. The same effect regarding the impossibility of making any claim between the parties will occur
                when the operation has not been approved by the issuing entity of the credit card with which the User operates.
                Green Buddies reserves the right to cancel a sale transaction prior to the time of delivery by returning the
                payments (if any) and without compensation or prior notice, at its sole discretion.
                Likewise, the User accepts that the Site may require additional data in order to specify the operation of
                purchase and corroborate the authenticity of the means of payment used by the buyer, as well as his address and his
                his personal documentation. If the purchase is not confirmed, the Site will inform the User of said circumstance.
                by sending an email that will be sent by the Site. If the purchase is confirmed, the User will receive
                an email once the order has been received. If you do not receive any of the two communications before
                mentioned, the User must contact the site.
                The purpose of the Site is the commercialization of retail products, for which the Site reserves the right to
                limit the number of items that each User can acquire in it.
                Given that the purpose of the Site is to allow Users to make purchases online, without personally attending the
                branch, the prices of each article must be similar to those that the User would pay in case of carrying out the operation
                of purchase at the physical points of sale of Green Buddies S.A. the day of assembling the order. In case an item
                is listed on the Site at an incorrect price due to an error, Green Buddies has the authority to correct
                the order by invoicing the price in force at the time of assembling the order at the physical points of sale or, to cancel
                the order by reimbursing the User the amounts paid. In this case, the User will be notified of the error, and with it the
                possibility of canceling or modifying the purchase of the product incorrectly invoiced or offered by paying the price
                correct of it.
            </p>
            <p>DELIVERY METHODS:
                The Site offers different forms of merchandise delivery, which may be consulted by the User.
                Depending on the type of purchase made by the User and the current conditions, the operation may or may not have a cost.
                shipping. The delivery period will begin to count from the confirmation of payment. Deliveries are made only in
                business days.
                The Site is not responsible for delays in the delivery of the product by the mail services and/or in the event
                that the delay is due to fortuitous event or force majeure. Shipments to any point in the Argentine Republic have a
                Approximate delivery time between 7 and 30 business days from the confirmation of payment. This term may vary
                according to the product purchased and the delivery address. On special occasions like Hot Sale, Cyber ​​Monday or other
                Similar delivery time can be extended to 45 business days. Green Buddies is not responsible for additional delays
                unrelated to their intervention (fortuitous event, act of third parties or force majeure).
                Shipments are made in the original boxes of the products, packed in closed bags and dispatched through a
                mail company. The mail company will make two visits to the address indicated for the delivery of the product and in case of
                not being able to deliver it or not finding anyone at the address will leave visit notices with information from the branch to
                which the User must go, where the order will be deposited and can be withdrawn within a maximum period of 5 days before
                to be returned to the Green Buddies S.A. distribution center.
                If the User does not receive his order within the stipulated period, he must contact the Green Customer Service Center
                Buddies S.A. to report said circumstance and verify what happened in this regard in order to provide a solution to the case.
                Any additional cost generated as a result of errors in data entry by the User, as well as
                also for inconveniences attributable to their exclusive performance, they will be at their expense and added to the invoice, with the
                corresponding clarification of the concept to which it refers.
                For home delivery, the User must personally receive the purchased merchandise displaying their National Document
                of Identity as an essential condition for its reception, or a third party may receive the merchandise through the
                presentation of the National Identity Document of the purchasing User with a written authorization for this purpose. The signature of
                The corresponding voucher will imply the acceptance of the acquired merchandise, without prejudice to the rights that the user has
                They attend in accordance with current regulations on the Defense of Consumer Rights.
            </p> 
            <p>PAYMENT METHODS:
                The available payment methods are detailed on the Site and may be modified at the sole discretion of Green Buddies,
                by express mention on the payment page. It is the right of Green Buddies the inclusion, exclusion or suspension of any
                payment method. In all cases, Green Buddies only stores billing information. Green Buddies does not store data from
                credit cards or payments by bank transfer. Payments by credit card are managed by a
                external service (https://www.mercadopag#.com.ar/) and payments by bank transfer are processed by the bank of the
                User. Therefore, the User declares and agrees to exempt Green Buddies from any responsibility or guarantee for the correct
                payment processing or the use and security of information exchanged when making purchases; processes on which
                Green Buddies has no incidence.
                Both in online sales and in the physical commercial offices of Green Buddies SA, type "A" and type "B" vouchers will be issued,
                depending on the tax status of the User and the type of receipt selected. In the case of online purchases, the
                They will be sent to the e-mail informed in the order, without exception. In case of not receiving them, the User must contact
                to the Customer Service Center at 0810-646-761#
            </p> 
            <p>MODIFICATIONS OF TERMS AND CONDITIONS OF USE:
                In the event that these Terms and Conditions of Use are modified, such modifications will be published on the Site, acting
                in it the current version at the beginning of each session. Since it is a website open to customers
                In general, Green Buddies lacks the possibility of notifying each of them in particular, except by publishing
                on the Site itself, for which the User agrees to verify the Terms and Conditions of Use with any use
                that you make of it, understanding that by starting each session you accept the Terms and Conditions of Use that are in force and
                published at that time in the manner and with the effects established herein.
            </p>
            <p>TERMINATION:
                These Terms and Conditions of Use imply a contract that will enter into force as soon as the User accepts them and/or uses the
                Site services and will remain in force until this contract is canceled either by the User or by Green Buddies.
                The User can terminate this contract at any time, provided that he does so for the future by avoiding the use of this Site.
                and/or being a Registered User, renouncing their registration following the procedure specially provided for it. Green Buddies
                You can also terminate this contract at any time, being valid the notification of such termination to the addresses
                emails that the User has registered on the Site. Likewise, Green Budies may cancel without prior notice the condition of
                User, and consequently deny access to the Services of the Site or to buy in this way, to the User who does not comply with
                any term or provision of these Terms of Use. This clause will apply whether or not the User is a navigator.
                registered. Green Buddies may at any time, temporarily or permanently, terminate this Site.
            </p> 
            <p>APPLICABLE LAW, DISPUTE RESOLUTION, PROCEDURAL MEASURES AND NOTICES:
                This contract will be governed by the legislation in force in the Argentine Republic. For all legal purposes that may arise, the parties submit to the Jurisdiction of the Ordinary Courts that are competent in accordance with the terms of the applicable Procedural Code. Unless the contrary has been previously agreed and in writing duly signed between the User and Green Buddies, all notifications made to users in relation to these Terms and Conditions of Use will be published on the Site and will take effect from the date of your post. The notifications that the User wants to address to Green Buddies should be addressed to Av. Cardenosa 1600 of the City of Córdoba where the domicile is established.
                Green Buddies S.A. All rights reserved.-
            </p>
        </div>
    </section>
</main>