<main>
    <section>
        <app-header [description]="'Ayuda'" [isTop]="true"></app-header>
        <div class="Section__content">

            <h4>Por favor, envianos tu consulta completanto el formulario de Contacto</h4><br>

            <h2>¿Cómo completar el formulario de contacto?</h2>

            <p>Para poder contactarte con nosotros debes completar el formulario correspondiente a
            tu requerimiento, es muy importante que completes todos los campos así podemos brindarte
            un mejor servicio, un agente te responderá a la brevedad.
            </p>
            <ul>
                <li><strong>Consultas Generales</strong></li>
                <li><strong>Envíos</strong></li>
            	<li><strong>Consultas sobre Compras</strong></li>
            	<li><strong>Reclamos</strong></li>
            	<li><strong>Sumate como Seller</strong></li>
            	<li><strong>Franquicias</strong> (Abrir un Local)</li> 
            </ul>	

            <h4>Consultas Generales</h4>
            <p>Si tienes consultas sobre garantía extendida, facturación, formar parte de nuestro
            equipo, o registrarte en nuestro sitio web puedes ir al formulario sobre consultas 
            generales dando click en este <a routerLink="/contacto">link.</a>
            </p>

            <h4>Envíos</h4>
            <p>Para consultar sobre  como cancelar un envío, cambiar la fecha de entrega, autorizar
            a un tercero para recibir mi  envío o saber porque no recibí mi envío da click en 
            este <a routerLink="/contacto">link.</a>
            </p>

            <h4>Consultas sobre Compras</h4>
            <p>Tienes alguna consulta sobre  cómo anular o cancelar una compra,  hacer  una compra 
            corporativa, cambiar un producto o saber más sobre un producto? 
            Haz click <a routerLink="/contacto">aquí</a> y completa el formulario.
            </p>

            <h4>Reclamos</h4>
            <p>Lamentamos que tengas que hacer un reclamo. Si tienes reclamos sobre una nota de 
            crédito que no recibiste,  un producto que llego dañado o con faltante o que no 
            recibiste tu factura. Completa este <a routerLink="/contacto">formulario</a> y te 
            respondemos a la brevedad.
            </p>

            <h4>Sumate Como Seller</h4>
            <p>Va a ser un gusto para nosotros poder que puedas distribuir nuestros productos.
            Da click <a routerLink="/contacto">aquí </a>para ponerte en contacto con nosotros.
            </p>

            <h4>Franquicias</h4>
            <p>Es muy grato para nosotros que quieras ser parte de nuestra marca y abrir tu local.
            Completa este <a routerLink="/contacto">formulario</a> y nos pondremos en contacto lo
            más pronto posible.
            </p>
            <p>Esperamos te haya sido útil este artículo.</p>
            <p>¿Tienes más preguntas? <a routerLink="/contacto">Enviar una solicitud</a></p>
            


        </div>
    </section>
</main>