<div class="FilterWidget">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
            <h6>Filtro</h6>
        </li>
        <li class="dropdown-item" (click)="setDateRange({key: 'today', text: 'Hoy'})">Hoy</li>
        <li class="dropdown-item" (click)="setDateRange({key:'this_month', text:'Este mes'})">Este mes</li>
        <li class="dropdown-item" (click)="setDateRange({key:'this_year', text: 'Este año'})">Este año</li>
    </ul>
</div>