@media screen and (max-width: 650px) {

    .Nav__MenuIco--closed>div,
    .Nav__MenuIco--open>div {
        width: 30px;
        height: 4px;
        background-color: var(--main-color);
        margin: 6px 0;
    }

    .Nav__MenuIco--open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .Nav__MenuIco--open .bar2 {
        opacity: 0;
    }

    .Nav__MenuIco--open .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}