<main>
    <section>
        <app-header [description]="'About us'" [isTop]="true"></app-header>
        <div class="Section__content">
            <p>The responsibility of taking care of the environment is part of the essence of Green Buddies, our
                products
                and
                actions are based on our commitment to the community and planet preservation.

                When choosing our products, the pillars are that they are eco-designed,
                sustainables and its life cycle. We offer our customers durable products with a low environmental impact, manufactured entirely with recycled raw materials.
           
                This way we save a significant amount of natural resources and conserve, among other things, our
                forests,
                the lungs of the planet.</p>
            <img src="../../../assets/img/nosotros.png" alt="nosotros" width="280px" class="Img--fullwidth">
        </div>
    </section>
    <section>
        <app-header [title]="'Our mision'" [hasMargin]="false"></app-header>
        <div class="Section__content">
            <ul>
                <li>>Make available to our community products that care for and respect the environment.</li>
                <li>Offer innovative products, taking care of the ethical, ecological, aesthetic and functional aspects in
                    the elaboration processes.</li>
                <li>Extend the useful life cycle of materials already used through recovery processes and
                    recycling, thus collaborating with the preservation of the environment.</li>
            </ul>
            <img src="../../../assets/img/mision.png" alt="mision" width="300px">
        </div>
    </section>
    <section>
        <app-header [title]="'Our vision'"></app-header>
        <div class="Section__content">
            <ul>
                <li>We aim to be number one in the local market for ecologically sustainable products.
                </li>
                <li>In the future, we will incorporate the possibility that small producers and artisans can publish their ecologically friendly products on our platform.</li>
                <li>We will generate a prestigious corporate image by meeting economic and social objectives.</li>
            </ul>
            <img src="../../../assets/img/vision.png" alt="vision" width="300px">
        </div>
    </section>
</main>