<main>
    <section>
        <app-header [description]="'¿Quiénes somos?'" [isTop]="true"></app-header>
        <div class="Section__content">
            <p>La responsabilidad de cuidar el medio ambiente forma parte de la esencia de Green Buddies, nuestros
                productos
                y
                acciones se basan en un compromiso con la comunidad y con la preservación del planeta.

                A la hora de elegir los productos que ofrecemos en nuestra tienda los pilares son el eco-diseño, la
                sustentabilidad de los mismos y su ciclo de vida. Ponemos al alcance de nuestros clientes productos que
                duran
                mucho tiempo y tienen un bajo impacto ambiental, fabricados íntegramente con materias primas recicladas.
                De
                este
                modo ahorramos una cantidad importante de recursos naturales y conservamos, entre otras cosas, nuestros
                bosques,
                los pulmones del planeta y descontaminantes del ambiente.</p>
            <img src="../../../assets/img/nosotros.png" alt="nosotros" width="280px" class="Img--fullwidth">
        </div>
    </section>
    <section>
        <app-header [title]="'¿Cuál es nuestra misión?'" [hasMargin]="false"></app-header>
        <div class="Section__content">
            <ul>
                <li>Poner al alcance de nuestra comunidad productos que cuiden y respeten el medio ambiente.</li>
                <li>Ofrecer productos innovadores, cuidando los aspectos éticos, ecológicos, estéticos y funcionales en
                    los procesos de elaboración.</li>
                <li>Alargar el ciclo de vida útil de los materiales ya usados mediante procesos de recuperación y
                    reciclaje, colaborando así con la preservación del medio ambiente.</li>
            </ul>
            <img src="../../../assets/img/mision.png" alt="mision" width="300px">
        </div>
    </section>
    <section>
        <app-header [title]="'Nuestra visión'"></app-header>
        <div class="Section__content">
            <ul>
                <li>Poner al alcance de nuestra comunidad productos que cuiden y respeten el medio ambiente.
                </li>
                <li>Ofrecer productos innovadores, cuidando los aspectos éticos, ecológicos, estéticos y funcionales en
                    los
                    procesos de elaboración.</li>
                <li>Alargar el ciclo de vida útil de los materiales ya usados mediante procesos de recuperación y
                    reciclaje,
                    colaborando así con la preservación del medio ambiente.</li>
            </ul>
            <img src="../../../assets/img/vision.png" alt="vision" width="300px">
        </div>
    </section>
</main>