<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Buddies | Inicio</title>
    <link rel="stylesheet" href="./newsletter.component.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>

    <main>
        
        <div class="p-4 pt-0 mt-5 mb-5 border-top-0 bg-transparent align-content-center text-center">
            <section class="widget widget_blog_subscription">
              <form action="#" method="post" accept-charset="utf-8" id="subscribe-blog">
                <h4 class="fw-bolder mb-5 text-center text-success">Suscríbete a nuestro newsletter</h4>
                  <form class="text-center pt-5">
                    <input class="form-control d-inline suscripcionInput" type="email" placeholder="Ingresá tu email" aria-label="Search">
                    <button class="btn btn-outline-success suscripcionBtn" type="submit">Suscribirme</button>
                  </form>
              </form>
            </section>
          </div>

    </main>
 
<!--Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<!--Scripts -->

</body>

</html>