<div class="p-4 pt-0 mt-5 mb-5 border-top-0 bg-transparent align-content-center text-center">
  <section class="widget widget_blog_subscription">
    <form action="#" method="post" accept-charset="utf-8" id="subscribe-blog">
      <h4 class="fw-bolder mb-5 text-center text-success">Subscribe to our newsletter</h4>
      <form class="text-center pt-5">
        <input class="form-control d-inline suscripcionInput" type="email" placeholder="Your email here"
          aria-label="Search">
        <button class="btn btn-outline-success suscripcionBtn" type="submit">Subscribe</button>
      </form>
    </form>
  </section>
</div>
