/*  ======== registro.html ========  */

.forms {
  background-image: url("../../../assets/img/fondo_hojas1.jpg");
  background-size: cover;
  padding: 2rem;
  box-sizing: border-box;
}

form{
  height: 650px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  background-image: url("../../../assets/img/tarjeta.jpeg");
  padding: 10px;
  border: solid rgb(188, 184, 184) 1px;
  border-radius: .8rem;
  margin-bottom: 16px;
  box-shadow: 0 0 6px 0 rgba(255,255,255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*formato inputs*/
.formulario_registro input{
  width: 350px;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: none;
}

input:focus{
  color: rgb(7, 62, 7);
}

 /*no anda*/
#nacimientoRegis,
#paisRegis,
#provinciaRegis,
#cpRegis{
  margin: 0px;
  width: 150px;
  padding: 5px ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

label{
  color:rgb(7, 62, 7);
  font-size: 14px; 
}


button{
  font-family:'Poppins', sans-serif; 
  font-size: 1em;
  background-color: forestgreen; 
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color:#fff;
  height:40px;
  border: radius 5px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

button:hover {
  background-color: rgb(5, 80, 5);
}

.cuenta:hover{
  font-weight: bold ;
}

@media screen  and (max-width:500pax) {
  form{
    width: 80px;
  }
}


/* Modales */
.modalRegistro {
  list-style: none;
}

.modalRegistro li {
  padding: .4rem 0;
}




  