<main>
    <section>
        <app-header [description]="'Legal'" [isTop]="true"></app-header>
        <div class="Section__content">

            <h1>Garantía y devoluciones</h1>
        
            <p>Los motivos por los cuales se puede gestionar el cambio o la devolución de un producto son los siguientes:
            • Producto defectuoso antes de usarse: el producto recibido posee alguna falla o rotura.
            • El producto recibido es diferente al que solicitó.
            En caso que un cliente reciba un producto en malas condiciones debe dar aviso dentro de las 48h de recibido el
            producto. Si el embalaje, caja o protector del producto llegase roto a causa del envío, no se debe abrir ni 
            quitar ninguna faja de seguridad para hacer efectivo el cambio; Ya que al probar el producto o abrir su embalaje
            se considera que el cliente ha aceptado el producto como se lo entrego y no podrá hacer el cambio.
            </p>
            <p><strong>Opciones de cambios:</strong></p>

            <p>*Para cambiar un producto <strong>SIN defectos</strong> (producto diferente al que se solicitó):
            Si el producto es nuevo y está sin defectos, el usuario tendrá hasta 10 días consecutivos, a partir 
            de la fecha de recepción, para poder sustituirlo por otro siempre y cuando conserve las mismas condiciones
            en que fue recibido (en el embalaje original, sin indicios de uso, con la factura / ticket original, manual
            y todos los accesorios si correspondiera).Los gastos del flete serán gratuitos para el usuario,cuando se trate del
            primer cambio realizado. En caso de que sea necesario uno nuevamente,los gastos de flete serán a cargo del usuario.
            </p>
            <p>*Para cambiar un producto <strong>CON defectos:</strong>
            En el caso de que el producto esté con defectos propios de fabricación, tendrá 180 días, a partir de la fecha en que
            recibió el pedido para hacer uso de la garantía. El plazo y forma de utilización están mencionados en las condiciones
            de Garantía que acompañan al producto, es indispensable que mantenga intacto el sello de garantía (de tenerlo) y que 
            el producto no presente signos de manipulación por un servicio técnico que no sea el oficial o por el usuario mismo 
            para su reparación o diagnóstico.
            </p>
            <p><strong>Devolución de un producto:</strong>
            Conforme lo establece el art. 34 de la ley 24.240 de Defensa del Consumidor, en concordancia con el artículo 1.111 y
            1.112 del Código Civil y Comercial de la República Argentina el usuario tendrá también 10 días contados a partir de 
            que se entregue el bien o se celebre el contrato para poder revocar la aceptación de la compra. Si así lo decidiera 
            se aplica lo dispuesto por el art. 10 ter de la Ley 24.240 de Defensa del Consumidor. En tal caso, el usuario deberá
            reintegrar el producto comunicándose con el sitio para solicitar el retiro del producto, el cual deberá estar sin uso
            y en perfecto estado, con sus etiquetas, envoltorios y todos los accesorios adicionales que pudieren corresponder
            </p>
            <h4 id="arrepentimiento">Arrepentimiento de compra</h4>
            
            <p>Por el plazo de hasta 10 días corridos, el usuario puede arrepentirse 
            de la compra, dicho plazo corre a partir de la fecha de recepción del producto. El mismo debe encontrarse en las mismas
            condiciones en que fue recibido (en el embalaje original, sin ser abierto, sin indicios de uso, con la factura / ticket 
            original, manual y todos los accesorios si correspondiera). Green Buddies se hace cargo del costo de la devolución y se 
            procede a la devolución al cliente del dinero mediante el mismo medio que fue cobrado, emitiendo nota de crédito.
            </p>
            
            <h4>Política de Garantía</h4>

            <p>Todos los productos comercializados en Green Buddies tienen diez (10) días corridos de cambio directo por fallas y/o 
            desperfectos, debiendo presentar la factura de compra original y el producto con su respectivo embalaje etiquetas y accesorios en perfecto estado. 
            </p>
            <p><strong>Dentro de los 10 días corridos:</strong>
            Verificada la falla del producto se procederá según el caso:
            Enviar al cliente un nuevo producto 
            Se le devuelve el dinero
            Se le envía otro producto, abonando o devolviendo la diferencia.
            Los costos de logística (restitución a Green Buddies y al cliente) y de los productos con superioridad de condiciones
            serán asumidos por Green Buddies.
            
            Si el producto presenta indicios de golpes o mal uso, la garantía de estos queda anulada. Dicha garantía no cubre los inconvenientes ocasionados por malware o el uso indebido del sistema operativo, programas incompatibles o configuraciones erróneas.
            
            Si el producto NO presenta falla, el cliente deberá abonar el costo del envío al domicilio del cliente.
            </p>
            <p><strong>Pasados los 10 días Corridos:</strong></p>
            <p>El envío de productos con falla a Green Buddies será a cargo del cliente, sin excepción. Los costos de gestión de garantías con proveedores estarán a cargo de Green Buddies.
            <p>Verificada la falla del producto se procederá según el caso:
            
            Enviar al cliente el producto reparado o uno nuevo en caso de no poder repararse.
            Sólo para casos en que el producto no se reparó. Devolución de dinero a valores actualizados a la fecha de reclamo. En caso que sea imposible reparar o enviar un producto de similares características.
        
            Los costos de envío del producto a Green Buddies serán a cargo del Cliente y los costos de restitución del producto al cliente serán a cargo de Green Buddies.
            Si el producto NO presenta falla, el cliente deberá abonar el costo del envío al domicilio del cliente.
            </p>
            <h4>Política de Garantía Línea Hogar:</h4>
            
            <p>Todos los productos comercializados en Green Buddies tienen diez (10) días de cambio directo por fallas y/o desperfectos, debiendo presentar la factura de compra original, con su respectivo embalaje, etiquetas y accesorios en perfecto estado. Vencido el plazo de los diez días, todos los productos cuentan con garantía oficial del fabricante, debiendo ser gestionada por el cliente con la marca correspondiente. Si el producto presenta indicios de golpes o mal uso, la garantía de estos queda anulada.
            Green Buddies rechazará la garantía para aquellos bienes que resulten dañados debido a alguna operación indebida aunque aún se encuentren dentro del período de garantía.
            Las siguientes se definen como situaciones que están fuera del alcance de garantía:  
            Modificación del producto ORIGINAL.
            Auto-reparación del cliente o reparación no autorizada.
            Daño causado por mal uso o para un uso con un fin distinto para el cual fue fabricado el producto (ejemplo: minería).
            Cualquier causa externa al producto, incluido el impacto de un rayo.
            </p>
        </div>
    </section>
</main>