<main>
    <section>
        <app-header [description]="'Legal'" [isTop]="true"></app-header>
        <div class="Section__content">

            <h1>Warranty and returns</h1>
        
            <p>The reasons for which the change or return of a product can be managed are the following:
                • Defective product before use: the product received has some fault or breakage.
                • The product received is different from the one requested.
                In the event that a customer receives a product in poor condition, he must give notice within 48 hours of receiving the product.
                product. If the packaging, box or protector of the product arrives broken due to shipping, it should not be opened or
                remove any security belt to make the change effective; Since when trying the product or opening its packaging
                It is considered that the customer has accepted the product as delivered and will not be able to make the change.
            </p>
            <p><strong>Change Options:</strong></p>

            <p>*To change a product <strong>NO defects</strong> (product different from the one requested):
                If the product is new and without defects, the user will have up to 10 consecutive days, from
                from the date of receipt, to be able to replace it with another as long as it maintains the same conditions
                in which it was received (in the original packaging, without signs of use, with the original invoice / ticket, manual
                and all accessories if applicable). Freight costs will be free for the user, when it is the
                first change made. In case one is necessary again, the freight costs will be borne by the user.
            </p>
            <p>*To change a product <strong>WITH defects:</strong>
                In the event that the product is with manufacturing defects, you will have 180 days, from the date on which
                received the order to make use of the guarantee. The term and form of use are mentioned in the conditions
                of Guarantee that accompany the product, it is essential that you keep the guarantee seal intact (if you have one) and that you
                the product shows no signs of tampering by a technical service other than the official one or by the user himself
                for repair or diagnosis.
            </p>
            <p><strong>Return of a product:</strong>
                According with establishes the art. 34 of Law 24,240 on Consumer Defense, in accordance with article 1,111 and
                1,112 of the Civil and Commercial Code of the Argentine Republic, the user will also have 10 days counted from
                that the good is delivered or the contract is concluded in order to revoke the acceptance of the purchase. if so decided
                the provisions of art. 10 ter of Law 24,240 on Consumer Protection. In such a case, the user must
                reintegrate the product by contacting the site to request the withdrawal of the product, which must be unused
                and in perfect condition, with its labels, packaging and all additional accessories that may correspond.
            </p>
            <h4 id="arrepentimiento">Purchase regret</h4>
            
            <p>For a period of up to 10 calendar days, the user can repent
                of the purchase, this period runs from the date of receipt of the product. It must be found in the same
                conditions in which it was received (in the original packaging, without being opened, without signs of use, with the invoice / ticket
                original, manual and all accessories if applicable). Green Buddies bears the cost of the return and
                proceeds to return the money to the customer through the same means that was collected, issuing a credit note.
            </p>
            
            <h4>Warranty Policy</h4>

            <p>All products marketed in Green Buddies have ten (10) calendar days of direct exchange for failures and/or
                damage, must present the original purchase invoice and the product with its respective packaging, labels and accessories in perfect condition. 
            </p>
            <p><strong>Within 10 consecutive days:</strong>
                Verified product failure will proceed as appropriate:
                Send the customer a new product
                The money is returned
                Another product is sent, paying or refunding the difference.
                Logistics costs (restitution to Green Buddies and the customer) and products with superior conditions
                will be assumed by Green Buddies.
               
                If the product shows signs of impact or misuse, the warranty for these is void. This guarantee does not cover inconveniences caused by malware or improper use of the operating system, incompatible programs or wrong configurations.
               
                If the product does NOT present a fault, the customer must pay the cost of shipping to the customer's address.
            </p>
            <p><strong>After 10 consecutive days:</strong></p>
            <p>Shipping of faulty products to Green Buddies will be at the customer's expense, no exceptions. The costs of managing guarantees with suppliers will be borne by Green Buddies.
            <p>Verified product failure will proceed as appropriate:
            
                Send the repaired product to the customer or a new one if it cannot be repaired.
                Only for cases where the product was not repaired. Refund of money at values updated to the date of claim. In case it is impossible to repair or send a product with similar characteristics.
           
                The costs of shipping the product to Green Buddies will be borne by the Customer and the costs of returning the product to the customer will be borne by Green Buddies.
                If the product does NOT present a fault, the customer must pay the cost of shipping to the customer's address.
            </p>
            <h4>Home Line Warranty Policy:</h4>
            
            <p>All products marketed in Green Buddies have ten (10) days of direct exchange for faults and/or damage, and the original purchase invoice must be presented, with its respective packaging, labels and accessories in perfect condition. After the ten-day period, all products have the official manufacturer's warranty, which must be managed by the customer with the corresponding brand. If the product shows signs of impact or misuse, the warranty for these is void.
                Green Buddies will reject the warranty for goods that are damaged due to improper operation even though they are still within the warranty period.
                The following are defined as situations that are out of warranty scope:
                Modification of the ORIGINAL product.
                Customer self-repair or unauthorized repair.
                Damage caused by misuse or use for a purpose other than that for which the product was manufactured (example: mining).
                Any cause external to the product, including the impact of lightning.
            </p>
        </div>
    </section>
</main>