<div *ngIf="dataEntrante" class="card mb-5 pb-5">
    <div class="text-center">
        <h6 class="card-title text-secondary mb-5 text-light p-3 bg-success"> {{dataEntrante.nombre | slice:0:35}}</h6>
        <a [routerLink]="'/producto/' + dataEntrante.id">
            <img class="card-img-top" [src]="dataEntrante.imagenes[0].src" [alt]="dataEntrante.imagenes[0].alt"
                style="width: 45%;" />
        </a>
        <h5 class="card-text text-success my-5">${{dataEntrante.precio_con_descuento ||
            dataEntrante.precio_sin_descuento}}</h5>
        <a [routerLink]="'/producto/' + dataEntrante.id">
            <button type="button" class="btn btn-outline-secondary m-2 w-50 "> Detalles del producto </button>
        </a>
        <button type="button" class="btn btn-outline-success m-2 w-50 "> Agregar al carrito </button>
    </div>
</div>