<main>
    <section>
        <app-header [description]="'Legal'" [isTop]="true"></app-header>
        <div class="Section__content">
            <h1>Términos y condiciones</h1>

            <p>Bienvenidos al sitio de internet www.greenbuddies.com (en adelante el "Sitio" o “la plataforma”) 
            de Green Buddies. Los términos y condiciones que se describen a continuación (en adelante los "Términos
            y Condiciones de Uso" o las “Condiciones de Uso”) tienen por objeto regular el comportamiento de los 
            usuarios en el sitio y las relaciones comerciales surgidas de esos comportamientos. Se entiende por "Usuario"
            a toda persona que visite el sitio, aun ocasionalmente, sin importar si el usuario se ha registrado /
            identificado mediante alguno de los mecanismos provistos al efecto.
            El Propietario y Operador del Sitio es Green Buddies S.A., CUIT#, con sede social en Av. Cardenosa 1600
            de Córdoba Capital, (Código Postal 5008) República Argentina. En función de lo expresado ut supra, se 
            fijan en el presente los términos y condiciones a los efectos de reglar el uso por parte del Usuario del
            sitio www.greenbuddies.com y sus respectivos derechos y obligaciones.
            </p>
            <p>NATURALEZA DEL SERVICIO Y DESTINO DEL SITIO:
            El sitio está destinado a la compra vía online de productos de tecnología. Pueden utilizar estos servicios
            las personas mayores de edad con capacidad legal para contratar y que acepten los presentes Términos y 
            Condiciones de Uso. Se presumen que titulares o adherentes a tarjetas de crédito tienen esta capacidad. No
            podrán utilizar el sitio las personas que no tengan esa capacidad ni los menores de edad. Quien registre 
            como Usuario a una persona jurídica, deberá tener capacidad para contratar a nombre de tal entidad y de 
            obligar a la misma en las Condiciones de Uso.
            </p> 
            <p>USO DE LOS SERVICIOS:
            El Usuario, ya sea registrado o visitante, declara que la información que brindará al remitir el pedido de
            registración será precisa, veraz, correcta y actual siendo a su vez enteramente responsable frente a Green 
            Buddies y/o terceros por los daños y perjuicios que el incumplimiento de dicha obligación pudiere acarrear.
            Proporcionar información inexacta o falsa constituye una violación grave de estos Términos y Condiciones de
            Uso. El Usuario acepta que utilizará los Servicios exclusivamente con los fines estipulados en (a) los 
            Términos y Condiciones de Uso y (b) cualquier norma o regulación aplicable ya sea de índole municipal, 
            provincial o nacional. Estos Términos y Condiciones de Uso son aplicables a todas las ventas de productos 
            y/o servicios a ser realizadas por Green Buddies.
            La realización de un pedido supone la aceptación expresa del Usuario de los presentes Términos y Condiciones
            de Uso. Confirmando su pedido en el final del proceso de una operación, el Usuario acuerda aceptar los artículos
            adquiridos, pagar su precio y las condiciones relativas a la adquisición que allí se estipulen, perfeccionando
            con Green Buddies un contrato de compra-venta de bienes muebles.
            </p> 
            <p>REGISTRO E INICIO DE SESIÓN DEL USUARIO:
            Por medio de la aceptación de los Términos y Condiciones de Uso, el Usuario reconoce y acepta que es el único 
            responsable de mantener la confidencialidad de su contraseña. En consecuencia, el Usuario acepta que será el 
            único responsable ante Green Budies y/o terceros de todas y cada una de las actividades que se efectúen en su 
            cuenta en el Sitio. El Usuario deberá notificar de inmediato a Green Buddies cualquier uso no autorizado de su
            contraseña o cuenta del cual tome conocimiento, a través del Sitio o por otro medio. Esta notificación deberá 
            efectuarse a través del Sitio y, adicionalmente, remitiendo una nota al domicilio de Green Buddies, debiendo 
            especificar en ambos casos y con el mayor detalle posible toda la información con la que cuente respecto 
            del uso no autorizado de su contraseña.
            </p> 
            <p>DATOS DE USUARIO:
            Al registrarse como Usuario de este Sitio, los datos personales del Usuario se toman a los fines de cumplir con
            el giro comercial de Green Buddies, pudiendo realizar acciones de marketing y publicidad. Para el caso que el 
            Usuario decida proporcionar sus datos se acepta que Green Buddies pueda utilizarlos con fines operativos del 
            sistema de comercio electrónico organizado en el Sitio y/o en otros sitios web pertenecientes a Green Buddies 
            e incluso para comunicar al Usuario por distintos medios ofertas de bienes y servicios, anuncios de promociones,
            publicidad, siendo la enumeración meramente ejemplificativa.
            El Sitio tiene una estricta política de privacidad y protección de los datos generados por la actividad en línea 
            de sus usuarios. Green Buddies S.A no entregará ningún tipo de datos personales ni de información individualizada
            sobre ninguno de sus Usuarios a ningún tercero, sea en forma gratuita u onerosa, incluyendo cualquier dato 
            relacionado con la identidad de sus usuarios, hábitos, costumbres, ámbitos de pertenencia, hábitos de consumo,etc.
            Mediante la aceptación de los Términos y Condiciones de Uso por parte del Usuario se acepta la Política de 
            Privacidad del Sitio, cuyo contenido se encuentra publicado en el mismo.
            El Usuario, en cuanto titular de los datos personales, tiene la facultad de ejercer el derecho de acceso a los 
            mismos en forma gratuita con intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al 
            efecto conforme lo establecido al artículo 14, inciso 3 de la Ley n° 25.326. Green Buddies aconseja a sus clientes
            que mantengan actualizados sus datos, pudiendo dirigirse para ello a consultas@greenbuddies.com o mediante el 
            ejercicio del derecho de acceso previsto por el art. 14 de la Ley 25.326. Green Buddies no solicita datos de sus 
            clientes de forma telefónica o a través del correo electrónico, con excepción de los supuestos estipulados en el 
            punto “Aceptación de Pedidos”. De existir un contacto, tiene como finalidad la realización de alguna encuesta de 
            satisfacción o comunicar alguna promoción o beneficio especial.
            La Dirección Nacional De Protección De Datos Personales, Órgano de Control de la Ley n° 25.326,tiene la atribución
            de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección
            de datos personales, pudiendo el Usuario conocer más en profundidad sobre este tema en la siguiente dirección:
            www.jus.gov.ar/dnpdp
            </p> 
            <p>IMÁGENES Y DESCRIPCIONES DE LOS PRODUCTOS:
            Green Buddies intenta ser lo más preciso posible en sus descripciones de productos. Sin embargo, es posible que las
            descripciones de los productos u otros contenidos de este Sitio no sean exactas o contengan errores.Las imágenes son
            solo a modo ilustrativo y no poseen ninguna validez contractual, pueden variar sin previo aviso.
            Sin perjuicio de lo dispuesto en el art. 34 de la ley 24.240, en caso de existencia de error entre la imagen 
            publicitaria de un producto y el producto adquirido, el Usuario tendrá derecho a cancelar el pedido hasta 10 días 
            corridos de que hubiere sido entregado. En caso de cancelación del pedido una vez recibido el producto el Usuario 
            fundándose en inexactitudes en la descripción o imágenes del producto, el Usuario deberá reintegrar el mismo en perfecto
            estado, conjuntamente con todo su empaque original y todos sus accesorios. La información sobre características de 
            los productos, a la que se accede a través de este Sitio se obtiene de afirmaciones hechas por el fabricante de cada
            producto, debiendo tenerse en consideración que en ocasiones los fabricantes pueden alterar sus empaques y etiquetas,
            de manera que el verdadero embalaje del producto y materiales adjuntos pueden contener información diferente de la 
            que se muestra en el Sitio.
            </p> 
            <p>COMPRA - STOCK:
            Sólo los Usuarios registrados pueden comprar productos o servicios en el sitio. El Usuario declara conocer y aceptar
            que al momento de confirmar la operación que efectúe ésta constituirá una operación de compraventa, aplicándose a
            dicha contratación todas las normas legales correspondientes a ella.
            Las compras realizadas por el Usuario están sujetas a disponibilidad de unidades (stock). El Usuario declara conocer
            y aceptar que la compra quedará perfeccionada de manera definitiva en términos legales luego de que se haya comprobado
            la efectiva disponibilidad del producto en el stock de mercadería de Green Buddies, por lo que con anterioridad 
            a dicha comprobación la compraventa se encuentra condicionada al hecho mencionado y se entiende aún no concretada. 
            En caso de no existir stock disponible, la operación quedará sin efecto sin derecho a reclamo alguna de las partes 
            intervinientes. Idéntico efecto en cuanto a la imposibilidad de efectuar reclamo alguno entre las partes acontecerá
            cuando la operación no haya sido aprobada por la entidad emisora de la tarjeta de crédito con la que el Usuario opera.
            Green Buddies se reserva el derecho de cancelar una operación de venta antes del momento de la entrega devolviendo los
            pagos (si los hubiere) y sin indemnización o preaviso alguno, a su exclusiva decisión.
            Asimismo, el Usuario acepta que el Sitio podrá requerir datos adicionales con el objetivo de concretar la operación de 
            compra y corroborar la autenticidad del medio de pago utilizado por el comprador, así como de su domicilio y de su 
            documentación personal. En caso de no confirmarse la compra, el Sitio comunicará al Usuario de dicha circunstancia 
            mediante el envío de un correo electrónico que será cursado por el Sitio. De confirmarse la compra, el Usuario recibirá
            un correo electrónico una vez que el pedido haya sido receptado. De no recibir alguna de las dos comunicaciones antes 
            mencionadas el Usuario deberá comunicarse con el sitio.
            El Sitio tiene por finalidad la comercialización de productos al por menor, por lo que el Sitio se reserva el derecho de
            limitar la cantidad de artículos que cada Usuario pueda adquirir en el mismo.
            Dado que el propósito del Sitio es permitir a los Usuarios realizar compras online, sin concurrir personalmente a la 
            sucursal, los precios de cada artículo deberán similares a los que el Usuario abonaría en caso de realizar la operación
            de compra en los puntos de venta físicos de Green Buddies S.A. el día del armado del pedido. En caso de que un artículo
            figure en las listas del Sitio a un precio incorrecto debido a un error, Green Buddies se encuentra facultada a corregir
            la orden facturando el precio vigente al momento del armado del pedido en los puntos de venta físicos o bien, de anular
            el pedido reintegrando al Usuario los importes abonados. En este caso, se dará aviso del error al Usuario, y con él la
            posibilidad de cancelar o modificar la compra del producto facturado u ofrecido de forma incorrecta abonado el precio
            correcto del mismo.
            </p>
            <p>FORMAS DE ENTREGA:
            El Sitio ofrece diferentes formas de entrega de la mercadería, las cuales podrán ser consultadas por el Usuario. 
            Dependiendo del tipo de compra que realice el Usuario y las condiciones vigentes, la operación podrá tener o no costo 
            de envío. El plazo de entrega comenzará a contar a partir de la confirmación del pago. Las entregas se realizan sólo en
            días hábiles.
            El Sitio no es responsable por demoras en la entrega del producto por parte de los servicios de correo y/o en los supuestos
            que la demora obedezca a caso fortuito o fuerza mayor. Los envíos hacia cualquier punto de la República Argentina tienen un
            plazo aproximado de entrega entre 7 y 30 días hábiles contados a partir de la confirmación del pago.Dicho plazo puede variar
            de acuerdo con el producto adquirido y la dirección de entrega. En ocasiones especiales como Hot Sale, Cybermonday u otras 
            similares el plazo de entrega se puede extender a 45 días hábiles. Green Buddies no se responsabiliza por demoras adicionales
            ajenas a su intervención (por caso fortuito, hecho de terceros o fuerza mayor).
            Los envíos se realizan en las cajas originales de los productos, embaladas en bolsas cerradas y despachadas a través de una
            empresa de correo. La empresa de correo efectuará dos visitas al domicilio indicado para la entrega del producto y en caso de
            no poder entregarlo o no encontrar a persona alguna en el domicilio dejará avisos de visita con información de la sucursal a 
            la que el Usuario deberá dirigirse, donde quedará el pedido en depósito pudiendo retirarlo en un plazo máximo de 5 días antes
            de ser devuelto al centro de distribución de Green Buddies S.A.
            Si el Usuario no recibiera su pedido en el plazo previsto, deberá contactarse con el Centro de Atención al Cliente de Green 
            Buddies S.A. para informar dicha circunstancia y verificar lo sucedido al respecto con el objeto de dar una solución al caso.
            Cualquier costo adicional que se genere como consecuencia de errores en el ingreso de datos por parte del Usuario, así como 
            también por inconvenientes imputables a su exclusiva actuación, serán a su cargo y adicionados a la factura, con la 
            correspondiente aclaración del concepto al que hace referencia.
            Para la entrega en domicilio, el Usuario deberá recibir personalmente la mercadería adquirida exhibiendo su Documento Nacional
            de Identidad como condición indispensable para su recepción, o bien podrá recibir la mercadería un tercero mediante la 
            presentación del Documento Nacional de Identidad del Usuario comprador con más una autorización escrita a tal fin. La firma del
            comprobante correspondiente implicará la aceptación de la mercadería adquirida, sin perjuicio de los derechos que al usuario le
            asisten conforme la normativa vigente en materia de de Defensa de Derechos del Consumidor.
            </p> 
            <p>FORMAS DE PAGO:
            Las formas de pago disponibles se detallan en el Sitio y podrán ser modificadas a exclusiva discreción de Green Buddies,
            mediante mención expresa en la página de pagos. Es derecho de Green Buddies la inclusión, exclusión o suspensión de cualquier 
            medio de pago. En todos los casos, Green Buddies sólo almacena información de facturación. Green Buddies no almacena datos de 
            tarjetas de crédito o de pagos mediante transferencia bancaria. Los pagos mediante tarjeta de crédito son administrados por un 
            servicio externo (https://www.mercadopag#.com.ar/) y los pagos mediante transferencia bancaria son procesados por el banco del 
            Usuario. Por lo tanto, el Usuario declara y acepta eximir a Green Buddies de toda responsabilidad o garantía por el correcto 
            procesamiento de los pagos o el uso y seguridad de la información que se intercambia al hacer compras; procesos sobre los cuales 
            Green Buddies no tiene incidencia alguna.
            Tanto en venta Online como en las sedes comerciales físicas de Green Buddies SA se emitirán comprobantes tipo “A” y tipo “B, 
            dependiendo de la condición tributaria del Usuario y el tipo de comprobante que seleccione.  En caso de las compras Online, los
            mismos  serán remitidos  al e-mail informado en el pedido, sin excepción. En caso de no recibirlos, el Usuario deberá contactarse
            al Centro de Atención al Cliente al teléfono 0810-646-761#
            </p> 
            <p>MODIFICACIONES DE TERMINOS Y CONDICIONES DE USO:
            En caso de que estos Términos y Condiciones de Uso sean modificados, tales modificaciones serán publicadas en el Sitio, obrando
            en él la versión vigente al momento del inicio de cada sesión. Toda vez que por tratarse de un sitio Web abierto a los clientes 
            en general, Green Buddies carece de posibilidad de notificarle particularmente a cada uno de ellos, salvo mediante la publicación
            en el propio Sitio, por lo que el Usuario se compromete a verificar en forma los Términos y Condiciones de Uso con cualquier uso
            que haga del mismo, entendiéndose que al iniciar cada sesión acepta los Términos y Condiciones de Uso que estén vigentes y 
            publicadas en ese momento en la forma y con los efectos establecidos en las presentes.
            </p>
            <p>TERMINACIÓN:
            Estos Términos y Condiciones de Uso implican un contrato que entrará en vigor tan pronto el Usuario acepte los mismos y/o use los
            servicios del Sitio y permanecerán vigentes hasta que el presente contrato sea cancelado sea por el Usuario o por Green Buddies. 
            El Usuario puede rescindir este contrato en cualquier momento, siempre que lo haga para el futuro evitando el uso de este Sitio
            y/o siendo Usuario Registrado, renunciando a su registro siguiendo el procedimiento especialmente previsto para ello. Green Buddies
            también puede rescindir este contrato en cualquier momento siendo válida la notificación de tal rescisión a los domicilios 
            electrónicos que el Usuario tuviere registrados en el Sitio. Asimismo, Green Budies podrá cancelar sin previo aviso la condición de
            Usuario, y en consecuencia denegar el acceso a los Servicios del Sitio o a comprar por esta vía, al Usuario que no cumpliera con 
            cualquier término o disposición de las presentes Condiciones de Uso. Esta cláusula se aplicará sea o no el Usuario un navegante 
            registrado. Green Buddies podrá en cualquier momento, temporal o permanentemente, dar de baja este Sitio.
            </p> 
            <p>LEY APLICABLE, RESOLUCIÓN DE CONTROVERSIAS, MEDIDAS PROCESALES Y NOTIFICACIONES:
            Este contrato será regido por la legislación vigente en la República Argentina. Para todos los efectos legales que hubiere lugar, las partes se someten a la Jurisdicción de los Tribunales Ordinarios que resulten competentes conforme a los términos del Código Procesal aplicable. Salvo que lo contrario haya sido acordado previamente y por escrito debidamente firmado entre el Usuario y Green Buddies todas las notificaciones que se hagan a los usuarios en relación a los presentes Términos y Condiciones de Uso se publicarán en el Sitio y tendrán efecto desde la fecha de su publicación. Las notificaciones que el Usuario quiera dirigir a Green Buddies deberán ser dirigidas a Av. Cardenosa 1600 de la Ciudad de Córdoba donde queda constituido el domicilio.
            Green Buddies S.A. Todos los derechos reservados.-
            </p>
        </div>
    </section>
</main>