<main>
    <section>
        <app-header [description]="'Financial user information'" [isTop]="true"></app-header>
        <div class="Section__content">
            <p>You can count on our help for questions or complaints regarding your consumer credit or personal loan. We are committed to respond to you within 10 business days of your contact.</p>
            <div>
                <p>Telephone: +54 XXXXXXXX</p>
                <p>E-mail: info@greenbuddies.com</p>
            </div>
            <p>In case you do not agree with our response or if we take more than 10 business days to do so, you can contact the Financial User Protection Main Office through its website: www.usuariosfinancieros.gob.ar.</p>
        </div>
    </section>
</main>