<main>
    <section>
        <app-header [description]="'Información al usuario financiero'" [isTop]="true"></app-header>
        <div class="Section__content">
            <p>Contás con nuestra ayuda para consultas o reclamos en relación a tu crédito de consumo y/o préstamo
                personal. Tenemos el compromiso de responderte en un plazo máximo de 10 días hábiles a partir de tu
                contacto.</p>
            <div>
                <p>Teléfono: +54 XXXXXXXX</p>
                <p>E-mail: info@greenbuddies.com</p>
            </div>
            <p>En caso de no estar de acuerdo con nuestra respuesta o si tardamos más de 10 días hábiles en hacerlo,
                podés comunicarte con la Gerencia Principal de Protección a Usuarios Financieros a través de su sitio:
                www.usuariosfinancieros.gob.ar.</p>
        </div>
    </section>
</main>