<main>
        <app-header [title]="'Productos'" [isTop]="true"></app-header>
        <section>
                <div class="container text-center" id="card_productos">
                        <div class="row">
                                <div class="col-md-4 mx-auto" *ngFor="let producto of productos">
                                        <app-cards [dataEntrante]="producto"></app-cards>
                                </div>
                        </div>
                </div>
        </section>
</main>