.card-icon {
    font-size: 2rem;
    width: 60px;
    height: 60px;
}

.sales-card {
    color: rgb(12, 178, 186);
    background: rgb(224, 253, 254);
}

.revenue-card {
    color: #2eca6a;
    background: rgb(224, 248, 233);
}

.customers-card {
    color: #ed9b0d;
    background: rgb(255, 239, 228);
}