<main class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
  </div>
  <section class="section dashboard" *ngIf="reports">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <app-numerical-summaries-list [reports]="reports"></app-numerical-summaries-list>
          <div class="col-12">
            <app-info-wrapper title="Estadísticas">
              <img src="https://i.postimg.cc/xdWvKT7R/20220826043027.png" width="100%" />
              <!-- TODO: Charts -->
            </app-info-wrapper>
            <app-info-wrapper title="Balance anual">
              <img src="https://i.postimg.cc/QNgQTDqQ/balance-anual.png" width="100%" />
              <!-- TODO: Charts -->
            </app-info-wrapper>
          </div>
          <div class="col-12">
            <app-info-wrapper title="Más vendido">
              <app-table-info [data]="reports" type="top_selling"></app-table-info>
            </app-info-wrapper>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <app-info-wrapper title="Presupuesto">
          <app-pie-chart type="budget" [reports]="reports"></app-pie-chart>
        </app-info-wrapper>
        <app-info-wrapper title="Tráfico del sitio">
          <app-pie-chart type="web_traffic" [reports]="reports"></app-pie-chart>
        </app-info-wrapper>
        <app-info-wrapper title="Ventas recientes">
          <app-table-info [data]="reports" type="recent_sales"></app-table-info>
        </app-info-wrapper>
      </div>
    </div>
  </section>
  <div *ngIf="!reports" class="Loader">
    <app-loader></app-loader>
  </div>
</main>