<main>
  <section>
    <div class="Section__content">
      <h1>Panel de control de administrador</h1>
      <div class="Profile__Menu">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" [routerLink]="'productos'"><i class="bi bi-bag fs-1"></i> <span
                class="vr"></span>Productos</li>
            <li class="list-group-item" [routerLink]="'usuarios'"><i class="bi bi-people fs-1"></i> <span
                class="vr"></span>Usuarios</li>
            <li class="list-group-item" [routerLink]="'reportes'"><i class="bi bi-graph-up-arrow fs-1"></i> <span
                class="vr"></span>Reportes</li>
            <li class="list-group-item" [routerLink]="'articulos-blog'"><i class="bi bi-newspaper fs-1"></i> <span
                class="vr"></span>Artículos</li>
            <li class="list-group-item" [routerLink]="'mensajes'"><i class="bi bi-chat-square-text fs-1"></i> <span
                class="vr"></span>Mensajes</li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-outline-danger m-2 w-50" (click)="handleLogout()"> Cerrar sesión
      </button>
    </div>
  </section>
</main>