.Section__content {
  max-width: 1200px;
  margin: 130px auto 50px auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Profile__Menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
}

li {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

li:hover, li:active {
  background: var(--main-color);
  color: #fff;
}

@media screen and (min-width: 650px) {
  .Section__content {
      padding: 2rem 2rem 0 2rem;
  }
}