<footer>
    <div class="Footer__Content">
        <div class="Footer__Section Footer__Legal">
            <a routerLink="terminos-y-condiciones">
                <h5>Legal</h5>
            </a>
            <ul>
                <li><a routerLink="/terminos-y-condiciones">Terms and Conditions</a></li>
                <li><a routerLink="/politica-de-privacidad">Privacy Policy</a></li>
                <li><a routerLink="/informacion-usuario-financiero">Information to the financial user</a></li>
                <li><a routerLink="/arrepentimiento">Regret button</a></li>
                <li><a routerLink="/garantia-y-devoluciones">Warranty and returns</a></li>
                <li><a routerLink="/defensa-del-consumidor">Consumer Defense</a></li>
            </ul>
        </div>
        <div class="Footer__Section Footer__Atencion">
            <a routerLink="/atencion-al-cliente">
                <h5>Customer Support</h5>
            </a>
            <ul>
                <li><a routerLink="/">0810-464-7613</a></li>
                <li><a href="mailto:greenbuddies@gmail.com" target="_blank">consultas@greenbuddies.com</a></li>
            </ul>
        </div>
        <div class="Footer__Section Footer__Ayuda">
            <a routerLink="/ayuda">
                <h5>Help</h5>
            </a>
            <ul>
                <li><a routerLink="/ayuda-comprar">Buy</a></li>
                <li><a routerLink="/ayuda-vender">Sell</a></li>
                <li><a routerLink="/ayuda-unirse">Join us</a></li>
            </ul>
        </div>
        <div class="Footer__Section Footer__Redes">
            <a routerLink="/redes-sociales">
                <h5>Social networks</h5>
            </a>
            <div class="Footer__Section__Social">
                <a href="https://www.facebook.com/" target="_blank"> <img
                        src="../../../assets/img/facebook-ico.png" /></a>
                <a href="https://twitter.com/" target="_blank"> <img src="../../../assets/img/twitter-ico.png" /></a>

                <a href="https://www.instagram.com/" target="_blank"> <img
                        src="../../../assets/img/instagram-ico.png" /></a>
                <a href="https://wa.me/123456789" target="_blank"> <img
                        src="../../../assets/img/whatsapp-ico.png" /></a>
            </div>
        </div>
        <div class="Footer__Badges">
            <ul>
                <li><a href="https://www.afip.gob.ar/" target="_blank"><img
                            src="../../../assets/img/afip-datafiscal.jpg" width="40px" alt="Data Fiscal" /></a></li>
                <li><a href="https://www.sustentable.org/" target="_blank"><img
                            src="../../../assets/img/sustentable-badge.svg" width="55px"
                            alt="Certificado de desarrollo sustentable" /></a></li>
            </ul>
        </div>
        <div class="Footer__Copy">
            <p class="Footer__Copyright">Copyright © 2022 Green Buddies S.A</p>
            <p class="Footer__Disclaimer">The use of this website implies acceptance of the Terms and Conditions and
                of
                the
                Privacy Policies of
                Green Buddies S.A. The photos are for illustrative purposes. The sale of any of the published products
                this
                subject to stock verification. The online prices for the products presented/published in this
                place
                They are valid exclusively for online purchases.</p>
        </div>
    </div>
</footer>