<footer>
    <div class="Footer__Content">
        <div class="Footer__Section Footer__Legal">
            <a routerLink="terminos-y-condiciones">
                <h5>Legal</h5>
            </a>
            <ul>
                <li><a routerLink="/terminos-y-condiciones">Términos y condiciones</a></li>
                <li><a routerLink="/politica-de-privacidad">Política de privacidad</a></li>
                <li><a routerLink="/informacion-usuario-financiero">Información al usuario financiero</a></li>
                <li><a routerLink="/arrepentimiento">Botón de arrepentimiento</a></li>
                <li><a routerLink="/garantia-y-devoluciones">Garantía y devoluciones</a></li>
                <li><a routerLink="/defensa-del-consumidor">Defensa del Consumidor</a></li>
                
            </ul>
        </div>
        <div class="Footer__Section Footer__Atencion">
            <a routerLink="/atencion-al-cliente">
                <h5>Atención al cliente</h5>
            </a>
            <ul>
                <li><a routerLink="/">0810-464-7613</a></li>
                <li><a href="mailto:greenbuddies@gmail.com" target="_blank">consultas@greenbuddies.com</a></li>
            </ul>
        </div>
        <div class="Footer__Section Footer__Ayuda">
            <a routerLink="/ayuda">
                <h5>Ayuda</h5>
            </a>
            <ul>
                <li><a routerLink="/ayuda-comprar">Comprar</a></li>
                <li><a routerLink="/ayuda-vender">Vender</a></li>
                <li><a routerLink="/ayuda-unirse">Unirse a nosotros</a></li>
            </ul>
        </div>
        <div class="Footer__Section Footer__Redes">
            <a routerLink="/redes-sociales">
                <h5>Redes sociales</h5>
            </a>
            <div class="Footer__Section__Social">
                <a href="https://www.facebook.com/" target="_blank"> <img
                        src="../../../assets/img/facebook-ico.png" /></a>
                <a href="https://twitter.com/" target="_blank"> <img src="../../../assets/img/twitter-ico.png" /></a>

                <a href="https://www.instagram.com/" target="_blank"> <img
                        src="../../../assets/img/instagram-ico.png" /></a>
                <a href="https://wa.me/123456789" target="_blank"> <img
                        src="../../../assets/img/whatsapp-ico.png" /></a>
            </div>
        </div>
        <div class="Footer__Badges">
            <ul>
                <li><a href="https://www.afip.gob.ar/" target="_blank"><img
                            src="../../../assets/img/afip-datafiscal.jpg" width="40px" alt="Data Fiscal" /></a></li>
                <li><a href="https://www.sustentable.org/" target="_blank"><img
                            src="../../../assets/img/sustentable-badge.svg" width="55px"
                            alt="Certificado de desarrollo sustentable" /></a></li>
            </ul>
        </div>
        <div class="Footer__Copy">
            <p class="Footer__Copyright">Copyright © 2022 Green Buddies S.A</p>
            <p class="Footer__Disclaimer">El uso de este sitio web implica la aceptación de los Términos y Condiciones y
                de
                las
                Políticas de Privacidad de
                Green Buddies S.A. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados
                está
                sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en este
                sitio
                son válidos exclusivamente para la compra vía internet.</p>
        </div>
    </div>
</footer>