
<main>

    <div id="box">
        <h1 class="text-center text-success">Mis datos de usuario</h1><br>

        <div class="text-center">
    
            <div class="card rounded m-auto bg-white p-4 mb-5" style="width:450px ;">
    
                <img class="text-center m-auto " style="width: 150px;" src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?b=1&s=170667a&w=0&k=20&c=-qQGlKM8OQsSJCEkHnqS9FI94VRTkZ-7tg0K0u02XL0=" alt="">
                <h1 class="text-success">Gustavo Cerati</h1>
                <div class="text-muted">
                    <h2 class="mb-5">cerati@gus.com</h2>
                    <h5>Nacimiento: 1959/11/08</h5>
                    <h5>Buenos Aires, Argentina</h5>
                    <h5>Codigo postal: 1400</h5>
                </div>

            <a name="" id="" class="btn btn-danger w-50 text-center m-auto mt-4" href="#" role="button">Cerrar session</a>
             
             </div> 
            
    
        </div>
     


    </div>

</main>