<div class="card text-center m-5 bg-white">    
    
    

    <img class="card-img-top img-fluid"  src={{dataEntrante.imagenes}} alt="" style="width: 35%;">

    <div class="card-body bg-light">

        <h5 class="card-title text-secondary">{{dataEntrante.nombre}}</h5>
        <h5 class="card-text text-success">Precio: ${{dataEntrante.precio}}</h5>
        <button type="button" class="btn btn-outline-secondary m-3"> <i class="bi bi-cart"></i> Detalles del producto </button>
        <button type="button" class="btn btn-outline-success m-3"> Agregar al carrito </button>

    
    </div>
</div>






