/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #187449;
    --alt-color: #678B4B;
    --main-bg: #F8F9FA;
    --ligther-bg: #fff;
    --main-font-color: #212529;
    --ligther-font-color: #fff;
    --gray-border: rgba(89, 89, 89, 0.575);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg);
} 